  /* .container-fluid {
    background-image: url('https://media.architecturaldigest.com/photos/5f8f0401d30e09d9d0bbff8f/16:9/w_2560%2Cc_limit/1%2520(4).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */

  .surface-card {
    border: 1px solid rgb(204, 201, 201);
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border: 2px solid;
    border-color: #1a6bed;
  }

  .p-button:focus {
    box-shadow: none;
  }

.form-text{
    padding-left: 5px;
}

/* :host ::ng-deep .p-password input {
    width: 23rem;
  } */