  .container-fluid {
    background-image: url('https://media.istockphoto.com/id/108219664/photo/books-flying-through-abandoned-hallway.jpg?b=1&s=170667a&w=0&k=20&c=Jkbn-T9s8iFiBLAcVvrX_aZa9dCQTIqpVxICtFjW94o=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .form-text {
    padding-left: 5px;
  }