<div class="container">
    <div class="row d-flex flex-wrap justify-content-center">

        <!-- book in cart -->
        <div class="col-12 md:col-12 lg:col-8">
            <div class="card" *ngFor="let book of booksInCart">
                <div class="d-flex flex-row flex-wrap align-items-center">
                    <div class="col-5 md:col-2 text-center">
                        <img [src]="book.imageUrl" width="100px" height="auto" alt={{book.bookName}}>
                    </div>
                    <div class="col-7 md:col-10">
                        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
                            <div class="col-12 md:col-3">
                                <p>{{book.bookName}}</p>
                            </div>

                            <!-- qty increase/decrease button -->
                            <div class="col-12 md:col-3">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button pButton type="button"
                                        class="p-button-rounded p-button-warning p-button-outlined"
                                        icon="pi pi-minus" (click)="decreaseQty(book)"></button>
                                    <span class="mx-3 my-2 text-center fw-bold">{{book.quantity}}</span>
                                    <button pButton type="button"
                                        class="p-button-rounded p-button-warning p-button-outlined"
                                        icon="pi pi-plus" (click)="increaseQty(book)"></button>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <p class="h3">{{book.price * book.quantity | currency:'INR'}}</p>
                            </div>
                            <div class="col-12 md:col-3">
                                <button pButton type="button" label="Remove" class="p-button-warning shadow-1" (click)="removeBookFromCart(book.id)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- checkout view -->
        <div class="col-10 sm:col-8 lg:col-4 d-flex flex-row">
            <div class="card text-center" style="width: 100%; height: fit-content;">
                <div class="p-3">
                    <h3 [ngStyle]="{color:'var(--gray-600)'}">Total Books</h3>
                    <p>price</p>
                </div>
                <div class="p-3">
                    <h3 [ngStyle]="{color:'var(--gray-600)'}">Total Price</h3>
                    <p>{{totalPrice}}</p>
                </div>
                <div class="pb-4">
                    <button pButton type="button" label="Checkout" icon="pi pi-check" iconPos="right"
                        class="p-button-rounded p-button-raised p-button-warning" [ngStyle]="{width:'70%'}" (click)="checkOut()"></button>
                </div>
            </div>
        </div>
    </div>
</div>