/* .navbar{
    background-color: #23c3a3;
} */

.navbar-toggler{
    border: 1px solid rgb(201, 199, 199);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logoutBtn{
    text-decoration: none;
    color:rgb(186, 183, 183);
    margin-right: 10px;
}

.logoutBtn:hover{
    cursor: pointer;
    color: white;
}