<p-toast [breakpoints]="{'576px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<nav class="navbar navbar-expand-lg navbar-dark border-bottom fixed-top shadow-sm py-0" style="background-image: linear-gradient(to bottom right,orange, rgba(246, 179, 34, 0.986) );">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <img src="../../assets/images/books.jpg" class="mx-0 py-0 rounded-circle" alt="" width="80px" height="70px">
      <h4 class="px-0 fs-1 text-white">Shiksha Bookstore</h4>
    </div>
  </div>
</nav>