<div class="text-center">
    <p-progressSpinner *ngIf="loading" styleClass="w-4rem h-4rem" strokeWidth="4"></p-progressSpinner>
</div>
<div *ngIf="book" class="container">
    <div class="row pt-3 justify-content-center">
        <!-- book image -->
        <div class="col-lg-5 col-md-6 col-sm-12 px-3">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-12 col-lg-10 py-3">
                    <img [src]="book.imageUrl" [alt]="book.bookName" width="100%" height="470px"
                        style="padding: 15px;" class="border-2 border-warning rounded">
                </div>
            </div>
        </div>

        <!-- book description -->
        <div class="col-lg-5 col-md-6 col-sm-12 p-3">
            <div class="border-2 border-warning rounded p-3" style="height:470px; width:auto;">
                <div class="text-center pb-3" style="height:90px;">
                    <h3 [ngStyle]="{color:'var(--pink-500)'}">{{book.bookName}}</h3>
                </div>
                <div class="ps-2" style="height:290px;">
                    <div class="py-1">
                        <p class="fs-5" [ngStyle]="{color:'var(--gray-700)'}">Author: <span class="h5"
                                [ngStyle]="{color:'var(--purple-500)'}">{{book.author}}</span></p>
                    </div>

                    <div class="py-1">
                        <p class="fs-5" [ngStyle]="{color:'var(--gray-700)'}">Description: <span class="h5"
                                [ngStyle]="{color:'var(--purple-500)'}">{{book.bookDetail}}</span></p>
                    </div>

                    <div class="py-1">
                        <p class="fs-5">Status: <span class="h5"
                                [style.color]="book.status=='Available'?'var(--green-600)':'red'">{{book.status}}</span>
                        </p>
                    </div>

                    <div class="py-1">
                        <p class="fs-5">Available Quantity: <span class="h5"
                                [style.color]="book.availableQuantity!==0?'var(--green-600)':'red'">{{book.availableQuantity}}</span>
                        </p>
                    </div>

                    <div class="py-1">
                        <p class="fs-5">Price: <span class="h5" [ngStyle]="{color:'var(--green-600)'}">{{book.price |
                                currency:"INR"}}</span></p>
                    </div>
                </div>

                <div class="py-1 text-center" style="height:90px;">
                    <button pButton pRipple type="button" label="Add To Cart" icon="pi pi-cart-plus" iconPos="right"
                        class="p-button-rounded p-button-raised p-button-warning" [ngStyle]="{width:'70%'}"
                        (click)="addToCart(book)"></button>
                </div>
            </div>
        </div>
    </div>
</div>