<form [formGroup]="updateBookForm" #form1="ngForm" (ngSubmit)="updateBook()">

    <!-- bookId -->
    <div class="mb-3">
        <label for="bookId" class="block text-900 font-medium mb-2">Book Id</label>
        <input id="id" type="text" pInputText formControlName="id" class="w-full" readonly>
    </div>

    <!-- bookName -->
    <div class="mb-3">
        <label for="bookName" class="block text-900 font-medium mb-2">Book Name</label>
        <input id="bookName" type="text" pInputText formControlName="bookName" class="w-full">
    </div>

    <!-- bookImage -->
    <div class="mb-3">
        <label for="bookImage" class="block text-900 font-medium mb-2">Book Image</label>
        <input id="bookImage" type="text" pInputText formControlName="imageUrl" class="w-full">
    </div>

    <!-- bookDetail -->
    <div class="mb-3">
        <label for="bookDetail" class="block text-900 font-medium mb-2">Book Information</label>
        <input id="bookDetail" type="text" pInputText formControlName="bookDetail" class="w-full">
    </div>

    <!-- author -->
    <div class="mb-3">
        <label for="author" class="block text-900 font-medium mb-2">Book Author</label>
        <input id="author" type="text" pInputText formControlName="author" class="w-full">
    </div>

    <!--price-->
    <div class="mb-3">
        <label for="price" class="block text-900 font-medium mb-2">Book Price</label>
        <input id="price" type="text" pInputText formControlName="price" class="w-full" maxlength="20">
    </div>

    <!-- availableQuantity -->
    <div class="mb-3">
        <label for="availableQty" class="block text-900 font-medium mb-2">Available Quantity</label>
        <input type="text" pInputText formControlName="availableQuantity" #availableQty
            (change)="changeStatus(availableQty.value)" class="w-full">
    </div>

    <!-- status -->
    <div class="mb-3">
        <label for="status" class="block text-900 font-medium mb-2">Available Status</label>
        <input id="status" type="text" pInputText formControlName="status" class="w-full" readonly>
    </div>

    <!-- Update book button -->
    <button type="submit" pButton pRipple label="Update" icon="pi pi-pencil"
        class="p-button-success p-button-raised w-full mt-3"></button>
</form>