<div class="container pt-2">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <h3 class="mb-0" [ngStyle]="{color:'var(--green-600)'}">User List
            <p-badge [value]="totalOrders" size="large" severity="warning"></p-badge>
        </h3>
    </div>
    <div class="row mt-3">
        <p-table [value]="users" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '40rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>UserId</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td routerLink="/admin/orderlist/{{user.id}}" class="fw-bold text-primary cursor-pointer">
                        {{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contactNumber}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="showUpdateForm(user.id)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteUser(user.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>