:host ::ng-deep .p-datatable .p-datatable-header {
    background-color: #fee2b9;
    border: 1px solid rgb(248, 199, 109);
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background-color: #feebce;
    text-align: center;
    font-weight: 600;
    border: 1px solid rgb(248, 199, 109);
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    /* border: 1px solid #d0d1d3; */
    border: 1px solid rgb(248, 199, 109);
    border-width: none;
    padding: 4px;
    background-color: #fdf7ec;
    height: 45px;
}

.cursor-pointer{
    color: rgb(48, 100, 232);
}

.cursor-pointer:hover{
    color: rgb(250, 167, 14);
}