/* .navbar{
    background-color: #23c3a3;
} */

.navbar-toggler{
    border: 1px solid rgb(201, 199, 199);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.profile{
    padding: 7px;
    color: white;
}

.profile:hover{
    padding: 7px;
    background-color:white;
    color: orange;
    border-radius: 5px;
}
.myclass{
    padding: 7px;
    background-color:white;
    color: orange;
    border-radius: 4px;
}

:host ::ng-deep .p-dialog-mask{
    top: 67px;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    padding: 0px !important;
}

:host ::ng-deep .p-dialog .p-dialog-content{
    padding: 0px;
    padding-bottom: 1rem;
}

.logoutBtn{
    text-decoration: none;
    color: white;
    padding: 6px 1.3rem;
    opacity: 0.6;
    margin: 0px 140px 0px 10px;
    font-size: 17px;
}

.logoutBtn:hover{
   opacity: 1;
}

::ng-deep .custom-dialog .p-dialog-content {
    /* background-image: url('https://t3.ftcdn.net/jpg/03/51/51/28/360_F_351512882_2kFH8IaSe4lyA7SXBLzEXyGKNEgbO1iH.jpg'); */
    background-image: url('../../../assets/images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
