<div class="text-center">
    <p-progressSpinner *ngIf="loading" styleClass="w-5rem h-5rem" strokeWidth="5" animationDuration=".8s"></p-progressSpinner>
</div>
<div class="container py-2">
    <div class="d-flex justify-content-between align-items-center text-center mt-2">
        <div>
            <h3 class="mb-0" [ngStyle]="{color:'var(--green-600)'}">Books List
                <p-badge [value]="totalOrders" size="large" severity="warning"></p-badge>
            </h3>
        </div>
        <div>
            <button pButton pRipple label="Add book" class="p-button-success p-button-raised mt-1"
                (click)="addNewBook()"></button>
        </div>
    </div>
    <div class="row mt-3">
        <p-table [value]="books">
            <ng-template pTemplate="header" class="border">
                <tr>
                    <th>BookId</th>
                    <th>BookName</th>
                    <th>Image</th>
                    <th>BookDetails</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Available<br>Quantity</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-books>
                <tr>
                    <td class="text-primary fw-bold">{{books.id}}</td>
                    <td>{{books.bookName}}</td>


                    <td><img [src]="books.imageUrl" alt="" width="45px"></td>
                    <td>{{books.bookDetail}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.price | currency:'INR'}}</td>
                    <td [style.color]="books.availableQuantity==0?'red':'green'">{{books.availableQuantity}}</td>
                    <td class="h6" [style.color]="books.status=='Available'?'green':'red'">{{books.status}}</td>
                    <td style="width:120px;">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="getBookToUpdate(books.id)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteBook(books.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
