.container{
    padding: 10px 6px 0px;
}

:host ::ng-deep .card {
    padding: 0.3rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 0.8rem;
}

:host ::ng-deep .card p{
    margin-bottom: 0rem;
    padding-left: 6px;
    font-size: larger;
}

:host ::ng-deep .p-button.p-button-icon-only {
    width: 40px;
    padding: 0.2rem 0.1rem;
    height: auto;
}

:host ::ng-deep .p-button.p-button-warning:enabled:focus {
    outline:none;
    outline-offset: 0;
    box-shadow: none;
}
