/* .navbar{
    background-color: #23c3a3;
} */

.navbar-toggler{
    border: 1px solid rgb(201, 199, 199);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.profile{
    padding: 7px;
    color: white;
}

.profile:hover{
    color: rgb(16, 177, 16);
}

:host ::ng-deep .p-dialog-mask{
    top: 60px;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    padding: 0px;
    background-color: rgb(245, 237, 237);
}

:host ::ng-deep .p-dialog .p-dialog-content{
    padding: 0px;
}

.logoutBtn{
    text-decoration: none;
    color: rgb(21, 198, 21);
    padding: 6px 1.3rem;
    margin: 10px 10px;
    border-radius: 8px;
}

.logoutBtn:hover{
    background-color: rgb(21, 198, 21);
    color: white;
}
