<form [formGroup]="updateOfferForm" #form1="ngForm" (ngSubmit)="updateOffer()">

    <!-- offerId -->
    <div class="mb-3">
        <label for="offerId" class="block text-900 font-medium mb-2">Offer Id</label>
        <input id="offerId" type="text" pInputText formControlName="offerId" class="w-full" readonly>
    </div>

    <!-- promoCode -->
    <div class="mb-3">
        <label for="promoCode" class="block text-900 font-medium mb-2">Promo Code
            <span class="form-text"
                *ngIf="(updateOfferForm.get('promoCode')?.errors?.['required']) && (updateOfferForm.get('promoCode')?.touched)">
                *</span>
        </label>
        <input id="promoCode" type="text" pInputText formControlName="promoCode" class="w-full">
    </div>

    <!-- discountAmount -->
    <div class="mb-3">
        <label for="discountAmount" class="block text-900 font-medium mb-2">Discount Amount
            <span class="form-text"
                *ngIf="(updateOfferForm.get('discountAmount')?.errors?.['required']) && (updateOfferForm.get('discountAmount')?.touched)">
                *</span>
        </label>
        <input id="discountAmount" type="text" pInputText formControlName="discountAmount" class="w-full">
    </div>

    <!-- applicable Amount -->
    <div class="mb-3">
        <label for="applicableAmount" class="block text-900 font-medium mb-2">Applicable Amount
            <span class="form-text"
                *ngIf="(updateOfferForm.get('applicableAmount')?.errors?.['required']) && (updateOfferForm.get('applicableAmount')?.touched)">
                *</span>
        </label>
        <input id="applicableAmount" type="text" pInputText formControlName="applicableAmount" class="w-full">
    </div>

    <!-- startDate -->
    <div class="mb-3">
        <label for="startDate" class="block text-900 font-medium mb-2">Start Date
            <span class="form-text"
                *ngIf="(updateOfferForm.get('startDate')?.errors?.['required']) && (updateOfferForm.get('startDate')?.touched)">
                *</span>
        </label>
        <input id="startDate" type="date" pInputText formControlName="startDate" class="w-full">
    </div>

    <!--endDate-->
    <div class="mb-3">
        <label for="endDate" class="block text-900 font-medium mb-2">End Date
            <span class="form-text"
                *ngIf="(updateOfferForm.get('endDate')?.errors?.['required']) && (updateOfferForm.get('endDate')?.touched)">
                *</span>
        </label>
        <input id="endDate" type="date" pInputText formControlName="endDate" class="w-full" maxlength="20">
    </div>

    <!-- maxApply -->
    <div class="mb-3">
        <label for="maxApply" class="block text-900 font-medium mb-2">Maximum Apply
            <span class="form-text"
                *ngIf="(updateOfferForm.get('maxApply')?.errors?.['required']) && (updateOfferForm.get('maxApply')?.touched)">
                *</span>
        </label>
        <input id="maxApply" type="number" pInputText formControlName="maxApply" class="w-full">
    </div>

    <!-- Add Offer button -->
    <button type="submit" pButton pRipple label="Update" icon="pi pi-pencil"
        class="p-button-success p-button-raised w-full mt-3"></button>
</form>