  /* .container-fluid { */
  /* background-color: rgb(36, 253, 217); */
  /* background-image: url('https://media.istockphoto.com/id/108219664/photo/books-flying-through-abandoned-hallway.jpg?b=1&s=170667a&w=0&k=20&c=Jkbn-T9s8iFiBLAcVvrX_aZa9dCQTIqpVxICtFjW94o=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  } */

  .surface-card{
    margin-top: 55px;
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .p-input-icon-left>i,
  .p-input-icon-right>i {
    position: absolute;
    top: 40%;
    color: black;
    margin-top: -0.5rem;
  }

  .form-text {
    padding-left: 5px;
  }

  :host ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box {
    box-shadow: none;
  }

  .p-button:focus {
    box-shadow: none;
  }