<p-toast [breakpoints]="{'576px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="container py-2">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <h3 class="mb-0" [ngStyle]="{color:'var(--green-600)'}">Order List
                <p-badge [value]="totalOrders" size="large" severity="warning"></p-badge>
            </h3>
        </div>
        <div>
            <button pButton pRipple label="Book List" class="p-button-warning p-button-raised mr-2"
                (click)="goToBookList()"></button>
            <button pButton pRipple label="User List" class="p-button-success p-button-raised"
                (click)="goToUserList()"></button>
        </div>
    </div>

    <!-- show orders list -->
    <div class="row mt-3">
        <p-table [value]="orderList" dataKey="orderId">
            <ng-template pTemplate="header">
                <tr>
                    <th>OrderId</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderList>
                <tr>
                    <td class="fw-bold text-primary cursor-pointer" [pRowToggler]="orderList">{{orderList.orderId}}</td>
                    <td>{{orderList.orderDate}}</td>
                    <td>{{orderList.totalCost | currency:'INR'}}</td>
                    <td><span class="fw-semibold"
                            [style.color]="orderList.paymentStatus=='Successful'?'#00b300':'red'">{{orderList.paymentStatus}}</span>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteOrder(orderList.orderId)"></button>
                    </td>
                </tr>
            </ng-template>

            <!--show order item list -->
            <ng-template pTemplate="rowexpansion" let-orderList>
                <tr>
                    <td colspan="5">
                        <div class="p-4">
                            <p-table [value]="orderList.orderItemList"
                                styleClass="p-datatable-gridlines border border-secondary">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total Cost</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td style="width: 350px;">{{ order.bookName }}</td>
                                        <td><img [src]="order.imageUrl" [alt]="order.bookName" width="50px"></td>
                                        <td>{{ order.price | currency: 'INR' }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td class="fw-semibold">{{ order.price * order.quantity | currency:'INR' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
</div>