<div class="container py-2">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <h3 class="mb-0" [ngStyle]="{color:'var(--green-600)'}">Order List
                <p-badge [value]="totalOrders" size="large" severity="warning"></p-badge>
            </h3>
        </div>
    </div>

    <!-- show orders list -->
    <div class="row mt-3">
        <p-table #dt [value]="orderList" [globalFilterFields]="['orderId']" styleClass="border border-warning" dataKey="orderId">
            <ng-template pTemplate="caption">
                <div class="p-input-icon-left" style="margin-left: 1px;">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText pKeyFilter="int" class="p-inputtext-sm" placeholder="Search Order Id"
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>OrderId</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Offer Code</th>
                    <th>Discount Amount</th>
                    <th>Final Amount</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderList>
                <tr>
                    <td class="fw-bold cursor-pointer" [pRowToggler]="orderList">{{orderList.orderId}}</td>
                    <td>{{orderList.orderDate | date:'dd-MM-yyyy, hh:mm a'}}</td>
                    <td>{{orderList.totalCost | currency:'INR'}}</td>
                    <td class="text-danger">{{orderList.promoCode}}</td>
                    <td class="text-danger">{{orderList.discountAmount | currency:'INR'}}</td>
                    <td class="fw-semibold">{{orderList.actualAmount | currency:'INR'}}</td>
                    <td><span class="fw-semibold"
                            [style.color]="orderList.paymentStatus=='Successful'?'#00b300':'red'">{{orderList.paymentStatus}}</span>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteOrder(orderList.orderId)"></button>
                    </td>
                </tr>
            </ng-template>

            <!--show order item list -->
            <ng-template pTemplate="rowexpansion" let-orderList>
                <tr>
                    <td colspan="8">
                        <div class="p-4">
                            <p-table [value]="orderList.orderItemList">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Book Name</th>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total Cost</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowIndex="rowIndex" let-order>
                                    <tr>
                                        <td class="fw-semibold text-secondary" style="width: 80px;">{{rowIndex+1}}.</td>
                                        <td style="width: 350px;">{{ order.bookName }}</td>
                                        <td><img [src]="order.imageUrl" [alt]="order.bookName" width="50px"></td>
                                        <td>{{ order.price | currency: 'INR' }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td class="fw-semibold">{{ order.price * order.quantity | currency:'INR' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
             
        </p-table>
    </div>
</div>