::ng-deep .p-card .p-card-body {
    padding: 0rem !important;
    padding-left: 1.25rem !important;
    padding-bottom: 0rem !important;
    padding-right: 1.25rem !important;
  
  }
  
  ::ng-deep .p-card .p-card-content {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  
  .bookName{
    height: 45px;
  }
  
  p-card:hover {
    box-shadow: 0px 5px 10px rgb(232, 229, 229);
    transform: scale(1.04);
    z-index: 1;
    cursor: pointer;
  }
  
  